<a href="https://colab.research.google.com/github/lookhmoo/Thesis-Data/blob/main/SGtech_elec_Profile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/lookhmoo/Thesis-Data/main/ElectricityProfileSGtech_22042022_1.csv', parse_dates = ['new_date', 'new_datetime']) #, index_col = 'new_datetime' à¹€à¸­à¸²à¹„à¸§à¹‰à¸•à¸±à¹‰à¸‡index 
df

,id,name,new_date,new_datetime,hour,demand_kWh,supply_kWh
0,42,350kW,2021-12-01,2021-12-01 07:40:02,7,0.00,0.00
1,43,NDIR-SERT,2021-12-01,2021-12-01 07:40:02,7,4.29,0.00
2,44,120kW,2021-12-01,2021-12-01 07:40:02,7,0.00,0.00
3,45,SIMINAR,2021-12-01,2021-12-01 07:40:02,7,0.02,0.00
4,46,SGTECH,2021-12-01,2021-12-01 07:40:02,7,0.33,0.00
...,...,...,...,...,...,...,...
23637,24681,SGTECH,2022-04-21,2022-04-21 23:00:55,23,1.31,0.00
23638,24682,SEPCON LAB,2022-04-21,2022-04-21 23:00:55,23,3.69,0.00
23639,24683,TESTING,2022-04-21,2022-04-21 23:01:08,23,0.65,0.00
23640,24684,TBat,2022-04-21,2022-04-21 23:01:08,23,147473.58,266590.22
23641,24685,APST,2022-04-21,2022-04-21 23:01:08,23,4.03,0.00

In [5]:
df.columns

Index(['id', 'name', 'new_date', 'new_datetime', 'hour', 'demand_kWh',
       'supply_kWh'],
      dtype='object')

In [2]:
# dfname = df.set_index('name')
# dfname

In [3]:
# df120kW = dfname.loc['120kW']
# df120kW

In [4]:
# df120kW.sort_values('new_datetime')

In [33]:
dfdt = df.set_index('new_datetime')
dfdt.drop('id', axis = 1, inplace = True)
dfdt.head(15)

                           name   new_date  hour  demand_kWh  supply_kWh
new_datetime
2021-12-01 07:40:02       350kW 2021-12-01     7        0.00        0.00
2021-12-01 07:40:02   NDIR-SERT 2021-12-01     7        4.29        0.00
2021-12-01 07:40:02       120kW 2021-12-01     7        0.00        0.00
2021-12-01 07:40:02     SIMINAR 2021-12-01     7        0.02        0.00
2021-12-01 07:40:02      SGTECH 2021-12-01     7        0.33        0.00
2021-12-01 07:40:02  SEPCON LAB 2021-12-01     7        0.48        0.00
2021-12-01 07:40:02     TESTING 2021-12-01     7        0.29        0.00
2021-12-01 08:02:53     SIMINAR 2021-12-01     8        0.02        0.00
2021-12-01 08:02:53   NDIR-SERT 2021-12-01     8        2.84        0.06
2021-12-01 08:02:53       350kW 2021-12-01     8        0.00        8.95
2021-12-01 08:02:53       120kW 2021-12-01     8        0.00        3.63
2021-12-01 08:02:53      SGTECH 2021-12-01     8        3.20        0.00
2021-12-01 08:02:53  SEPCON LAB 2021-12-01     8        0.77        0.00
2021-12-01 08:02:53     TESTING 2021-12-01     8        0.44        0.00
2021-12-01 09:00:05   NDIR-SERT 2021-12-01     9        7.44        0.01

In [34]:
df120kW = dfdt[dfdt.name == '120kW']
df350kW = dfdt[dfdt.name == '350kW']
dfASPT = dfdt[dfdt.name == 'ASPT']
dfSERT = dfdt[dfdt.name == 'NDIR-SERT']
dfSEPCON = dfdt[dfdt.name == 'SEPCON LAB']
dfSGTECH = dfdt[dfdt.name == 'SGTECH']
dfSIMINAR = dfdt[dfdt.name == 'SIMINAR']
dfTESTING = dfdt[dfdt.name == 'TESTING']
dfTBat = dfdt[dfdt.name == 'TBat']

In [36]:
dfSERT.to_csv('data/demo.csv')

FileNotFoundError: ignored

In [21]:
dfdt['2022-1-1']
dfn = dfdt.sort_values('name')
dfn

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

                        id     name   new_date  hour  demand_kWh  supply_kWh
new_datetime
2022-03-11 22:00:50  16046    120kW 2022-03-11    22        2.96        0.00
2022-02-19 22:00:53  12174    120kW 2022-02-19    22        1.22        0.00
2022-03-25 21:00:51  19058    120kW 2022-03-25    21        3.29        0.00
2021-12-28 09:00:52   2429    120kW 2021-12-28     9        0.00       16.14
2022-03-25 20:00:51  19052    120kW 2022-03-25    20        4.83        0.00
...                    ...      ...        ...   ...         ...         ...
2022-01-10 02:01:49   5022  TESTING 2022-01-10     2        0.62        0.00
2022-02-24 13:01:18  12999  TESTING 2022-02-24    13        6.47        0.00
2022-03-19 04:01:00  17613  TESTING 2022-03-19     4        0.67        0.00
2021-12-31 06:00:57   3052  TESTING 2021-12-31     6        0.55        0.00
2022-03-30 01:01:01  19963  TESTING 2022-03-30     1        0.66        0.00

[23642 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23642 entries, 0 to 23641
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            23642 non-null  int64
 1   name          23642 non-null  object
 2   new_date      23642 non-null  datetime64[ns]
 3   new_datetime  23642 non-null  datetime64[ns]
 4   hour          23642 non-null  int64
 5   demand_kWh    23642 non-null  float64
 6   supply_kWh    23642 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(1)
memory usage: 1.3+ MB

In [7]:
df

,id,name,new_date,new_datetime,hour,demand_kWh,supply_kWh
0,42,350kW,2021-12-01,2021-12-01 07:40:02,7,0.00,0.00
1,43,NDIR-SERT,2021-12-01,2021-12-01 07:40:02,7,4.29,0.00
2,44,120kW,2021-12-01,2021-12-01 07:40:02,7,0.00,0.00
3,45,SIMINAR,2021-12-01,2021-12-01 07:40:02,7,0.02,0.00
4,46,SGTECH,2021-12-01,2021-12-01 07:40:02,7,0.33,0.00
...,...,...,...,...,...,...,...
23637,24681,SGTECH,2022-04-21,2022-04-21 23:00:55,23,1.31,0.00
23638,24682,SEPCON LAB,2022-04-21,2022-04-21 23:00:55,23,3.69,0.00
23639,24683,TESTING,2022-04-21,2022-04-21 23:01:08,23,0.65,0.00
23640,24684,TBat,2022-04-21,2022-04-21 23:01:08,23,147473.58,266590.22
23641,24685,APST,2022-04-21,2022-04-21 23:01:08,23,4.03,0.00

In [8]:
df1 = df.sort_values('name')

In [9]:
df1

,id,name,new_date,new_datetime,hour,demand_kWh,supply_kWh
15354,16046,120kW,2022-03-11,2022-03-11 22:00:50,22,2.96,0.00
11662,12174,120kW,2022-02-19,2022-02-19 22:00:53,22,1.22,0.00
18240,19058,120kW,2022-03-25,2022-03-25 21:00:51,21,3.29,0.00
2306,2429,120kW,2021-12-28,2021-12-28 09:00:52,9,0.00,16.14
18234,19052,120kW,2022-03-25,2022-03-25 20:00:51,20,4.83,0.00
...,...,...,...,...,...,...,...
4791,5022,TESTING,2022-01-10,2022-01-10 02:01:49,2,0.62,0.00
12442,12999,TESTING,2022-02-24,2022-02-24 13:01:18,13,6.47,0.00
16849,17613,TESTING,2022-03-19,2022-03-19 04:01:00,4,0.67,0.00
2902,3052,TESTING,2021-12-31,2021-12-31 06:00:57,6,0.55,0.00
19100,19963,TESTING,2022-03-30,2022-03-30 01:01:01,1,0.66,0.00